:root{
    --text_color_main: #000000;
    --text_color_secondary: #545454;
    --background_color: #FAFAFF;
    --color-secondary: #545454;
    --margin-color:#d5d8f6;
    --shadow-color: #d5d8f6;
  
    --card-width: 10rem;
    --card-height: 20rem;
  
    --itemTitleFont: 1rem;
    --itemTextFont: 0.75rem;
    --defaultFont: 1rem;
    --largeFont: 1.5rem;
    --bodyWidth: min(50rem, 100% - 2rem);     
  }